#screen {
    background-color: rgb(24,20,17);
    color: rgb(224,220,217);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px 50px 50px 50px;
}

button {
    border: none;
    width:100%;
    height: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: indianred;
    font-size: 24px;
    position: relative;
    color: rgb(224,220,217);
}

a {
    color: yellow;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 60%;
    height: 32px;
    margin-top: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#clear_text_button {
    padding-top: 15px;
    background-color: rgb(224,220,217, 0); !important;
    border: none !important;
}

#take_screenshot > button {
    background-color: cornflowerblue;
}
#take_screenshot {
    background-color: rgb(224,220,217, 0); !important;
    border: none !important;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    color: yellow;
}


h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    opacity: 0.9;
}

label {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
    font-weight: 500;
    opacity: 0.9;
}

header {
    margin-bottom: 20px;

}

#threshold {
    width: 100%;
}

#status #opencv_status {
    color: rgb(24,20,17);
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.flex-container > div {
    padding-right: 50px;
}

#canvasHolder {
    display: flex;
    flex: 0 0 50%;
    -webkit-mask-image: url(../assets/mask_img.png);
    -webkit-mask-size: 97%;
    -webkit-mask-repeat: no-repeat;
    /* mask-image: linear-gradient(to bottom, transparent 25%, black 75%); */
}

.controls {
    display: inline-block;
    width: 20%;
    min-width: 320px;
    
    /* background-color: rgb(250, 235, 215, 0.1); */
}

.controls > div {
    padding: 0px 20px 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: rgb(255, 255, 255, 0.1);

}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

  
input:checked + .slider {
    background-color:  goldenrod;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px darkgoldenrod;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}